<h1>Admin: Application <%= @application.id %></h1>

<section>
  <% @application.pets.each do |pet| %>
    <%= pet.name %>

    <% if @application.status == "In Progress" %>
      <%= button_to "Approve", "/admin/applications/#{@application.id}", params: {status: "Approved"}, method: :patch%>
    <% end %>

    <% if @application.status == "Approved" %>
      Application Status: <%= @application.status %><br>
    <% end %>
  <% end %>
</section>
